In [1]:
import os
import pandas as pd

import sys
sys.path.append('refactor')

## Process family id adjustment and aggregation

In [2]:
summary_acct_file = os.path.join('data','summary_acct_11_2020.csv')

In [3]:
from family_id_adj import FamilyIdAdjuster

In [4]:
fam_adj = FamilyIdAdjuster(summary_acct_file,
                           varname_family_id='FAMILY_ID', family_id_default_val = 0,
                           varname_family_id_region='FAMILY_ID_REGION')

fam_adj.fill_family_id(varname_parent_id = 'parent_id',
                       varname_sv_bus_name = 'SV_ROOT_ACCOUNT_NAME',
                       varname_csg_bus_name = 'CSG_BUSN_NAME')

c:\users\kmineg144\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (11,12,14,15,16,17,18,19,31,32,33,34,35,36,37,38,39,40,41,43) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [5]:
fam_adj.consolidate()

In [6]:
fam_adj.output_to_file(filepath='data', filename='summary_11_2020.csv')

In [7]:
df = pd.read_csv(os.path.join('data','summary_11_2020.csv'))

c:\users\kmineg144\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [8]:
df.head()

,FAMILY_ID,FILE_GROUP,SV_ROOT_ACCOUNT,CSG_ACCOUNT,SV_ACCT_ZIP,PARENT_ID,SFDC_ACCOUNT,AM_MODULE,OWNER_ID,CAGE_NUMBER,...,SMB,MID,STR,NAT,GOV,UNKN,ATHENA_SEGMENTS,FAMILY_SPEND_EST_FOR_EVAL,ESTIMATED_FAMILY_MODULE,ESTIMATED_FAMILY_SPEND_RANGE
0,1,SV&CSG,939801875.0,8.498330e+15,98007.0,NaN,0011H00001TDvguQAD,NaN,00512000006HMVyAAO,NaN,...,2,0,0,0,0,0,SMB:2 MID:0 STR:0 NAT:0 GOV:0 UNKN:0,663.35,AM1,500 to 750
1,2,SV&CSG,934570879.0,8.993213e+15,99212.0,NaN,001A0000015iDDqIAM,NaN,005A00000051ABDIA2,NaN,...,34,5,0,0,0,0,SMB:34 MID:5 STR:0 NAT:0 GOV:0 UNKN:0,0.00,EXCL,100 or less
2,3,SV&CSG,908215179.0,8.497900e+15,80924.0,NaN,001A0000011FuAjIAK,NaN,00512000006RXz6AAG,NaN,...,3,12,0,0,0,0,SMB:3 MID:12 STR:0 NAT:0 GOV:0 UNKN:0,100774.44,EXCL,4000+
3,4,SV&CSG,963250644.0,8.773202e+15,91935.0,NaN,0011H00001OugddQAB,EAE - GBR,00512000005jkddAAA,NaN,...,1,2,0,0,0,0,SMB:1 MID:2 STR:0 NAT:0 GOV:0 UNKN:0,0.00,EXCL,100 or less
4,5,SV&CSG,980196585.0,8.778107e+15,95901.0,0011H00001yCVOqQAO,001A000001CM01KIAT,Twin AM 2,005A0000005hxsMIAQ,Top 150,...,117,136,0,0,0,28,SMB:117 MID:136 STR:0 NAT:0 GOV:0 UNKN:28,43987.83,EXCL,4000+

In [9]:
df.columns

Index(['FAMILY_ID', 'FILE_GROUP', 'SV_ROOT_ACCOUNT', 'CSG_ACCOUNT',
       'SV_ACCT_ZIP', 'PARENT_ID', 'SFDC_ACCOUNT', 'AM_MODULE', 'OWNER_ID',
       'CAGE_NUMBER', 'ATHENA_LEGAL_NAME1', 'SV_ROOT_ACCOUNT_NAME',
       'CSG_BUSN_NAME', 'CSG_TENURE_MNTHS', 'FAMILY_ID_REGION', 'SRC_ROW_CNT',
       'CSG_TOTAL_MRC', 'SV_TOTAL_MRC', 'CSG_VOICE_MRC', 'CSG_DATA_MRC',
       'CSG_VIDEO_MRC', 'CSG_CONNPRO_MRC', 'CSG_WIFIPRO_MRC',
       'CSG_SECEDGE_MRC', 'SV_MRC_METROE', 'SV_MRC_AV_TOTAL',
       'SV_MRCSUBSET_AV_PRI', 'SV_MRCSUBSET_AV_SIP', 'SV_MRCSUBSET_AV_BVE',
       'ATHENA_EST_EMP_CNT', 'ATHENA_FAMILY_TELCO_SPEND',
       'CSG_AND_SV_TOTAL_MRC', 'TOTAL_LOC_CNT', 'SV_SITE_CNT', 'CSG_SITE_CNT',
       'SV_EXCL_IND_CNT', 'CSG_EXCL_IND_CNT', 'SFDC_NAT_IND_CNT',
       'SFDC_NAT_SP_IND_CNT', 'COAX_GREENISH_CNT', 'FIBER_GREENISH_CNT',
       'COAX_YELLOW_CNT', 'FIBER_YELLOW_CNT', 'SV_ROOT_ACCOUNT_CNT',
       'SV_ACCOUNT_CNT', 'SV_AAN_CNT', 'CSG_WD_SITE_CNT', 'CSG_ACCOUNT_CNT',
       'SV_WD_SITE_CNT', 'CSG_REGION_CNT', 'SV_METROE_IND', 'SV_AV_IND',
       'CSG_VOICE_IND', 'CSG_DATA_IND', 'CSG_VIDEO_IND', 'CSG_WIFIPRO_IND',
       'CSG_CONNPRO_IND', 'CSG_TW_IND', 'HBB_IND', 'HSPY_IND', 'NAT_IND',
       'GOV_IND', 'AGGR_IND', 'MES_IND', 'EDU_IND', 'CAR_IND', 'TWKR_IND',
       'CBH_IND', 'SMB', 'MID', 'STR', 'NAT', 'GOV', 'UNKN', 'ATHENA_SEGMENTS',
       'FAMILY_SPEND_EST_FOR_EVAL', 'ESTIMATED_FAMILY_MODULE',
       'ESTIMATED_FAMILY_SPEND_RANGE'],
      dtype='object')

In [10]:
len(df)

568087

In [11]:
sum(df.FAMILY_SPEND_EST_FOR_EVAL>500)

105034

In [12]:
# acc_df = pd.read_pickle(os.path.join('outputs','account.pkl'))
# acc_df.SP_IND[:10]

In [13]:
tmp = df[df.CSG_ACCOUNT==8772106006231405]
tmp.CSG_BUSN_NAME, tmp.SV_ROOT_ACCOUNT_NAME

(68    MAX INC,CAPTION
 Name: CSG_BUSN_NAME, dtype: object,
 68    CaptionMax, LLC
 Name: SV_ROOT_ACCOUNT_NAME, dtype: object)

## Process score data

In [14]:
from score import Score
from params import subset_vars_acc, keeping_vars_sco

output_filepath = 'results_11_2020'

summary_csv =  os.path.join('data','summary_11_2020.csv')
acc_df = pd.read_pickle(os.path.join('outputs','account.pkl'))

In [15]:
sco = Score(summary_csv)
sco.filter() 
sco.merge_data(acc_df[subset_vars_acc])
sco.add_columns()
sco.keep_vars(keeping_vars_sco)
sco.output_to_file(output_filepath, 'outputs')

c:\users\kmineg144\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3338: DtypeWarning: Columns (11) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [16]:
twin_cities_assigned = pd.read_excel(os.path.join(output_filepath,'twin_cities.xlsx'),
                            sheet_name='twin_cities_assigned')

twin_cities_excluded = pd.read_excel(os.path.join(output_filepath,'twin_cities.xlsx'),
                            sheet_name='twin_cities_excluded')

twin_cities_no_sfdc = pd.read_excel(os.path.join(output_filepath,'twin_cities.xlsx'),
                          sheet_name='twin_cities_no_sfdc')

In [17]:
twin_cities_assigned.head()

,ESTIMATED_FAMILY_MODULE,ESTIMATED_FAMILY_SPEND_RANGE,FAMILY_ID,FAMILY_ID_REGION,SV_ACCT_ZIP,ATHENA_LEGAL_NAME1,SV_ROOT_ACCOUNT_NAME,CSG_BUSN_NAME,FAMILY_SPEND_EST_FOR_EVAL,ATHENA_FAMILY_TELCO_SPEND,...,SFDC_MODULE_IND,FAMILY_SPEND_EST_FOR_EVAL_SCORE,CSG_TENURE_MNTHS_SCORE,CSG_AND_SV_TOTAL_MRC_SCORE,ONE_PRODUCT_IND_SCORE,TOTAL_LOC_CNT_SCORE,FINAL_SCORE,COLOR_SCORE,ANY_EXCL_IND,SFDC_ACCOUNT_URL
0,EAM,4000+,74,TWIN CITIES,55405.0,CAPTIONMAX INCORPORATED,"CaptionMax, LLC","MAX INC,CAPTION",29883.34,29883.34,...,False,5,1,4,5,2,3.55,Gold,0,https://comcast.my.salesforce.com/0011H00001kV...
1,AM1,500 to 750,93,TWIN CITIES,55434.0,URAM GROUP INC,Uram Group Inc,"INC,URAM GROUP",522.47,0.00,...,False,1,2,2,1,1,1.40,Other,0,https://comcast.my.salesforce.com/0011H00001NI...
2,AM1,750 to 1000,100,TWIN CITIES,55121.0,ULTIMATE FLEET REPAIR,Ultimate Fleet Repair,"REPAIR,ULTIMATE FLEET",880.00,135.42,...,False,2,3,3,1,1,1.90,Other,0,https://comcast.my.salesforce.com/0011200001EQ...
3,EAM,4000+,333,TWIN CITIES,95826.0,ATOMIC DATA LLC,Atomic Data,"LLC,ATOMIC DATA",38528.11,33487.87,...,False,5,1,5,1,5,3.60,Gold,0,https://comcast.my.salesforce.com/0011H000024t...
4,AM1,1000 to 2000,388,TWIN CITIES,66227.0,AHI GROUP,AH Insurance Group,UNKNOWN,1052.10,985.09,...,False,2,2,3,1,4,2.55,Bronze,0,https://comcast.my.salesforce.com/0011H00001xE...

In [18]:
twin_cities_excluded.head()

,ESTIMATED_FAMILY_MODULE,ESTIMATED_FAMILY_SPEND_RANGE,FAMILY_ID,FAMILY_ID_REGION,SV_ACCT_ZIP,ATHENA_LEGAL_NAME1,SV_ROOT_ACCOUNT_NAME,CSG_BUSN_NAME,FAMILY_SPEND_EST_FOR_EVAL,ATHENA_FAMILY_TELCO_SPEND,...,SFDC_MODULE_IND,FAMILY_SPEND_EST_FOR_EVAL_SCORE,CSG_TENURE_MNTHS_SCORE,CSG_AND_SV_TOTAL_MRC_SCORE,ONE_PRODUCT_IND_SCORE,TOTAL_LOC_CNT_SCORE,FINAL_SCORE,COLOR_SCORE,ANY_EXCL_IND,SFDC_ACCOUNT_URL
0,EXCL,1000 to 2000,13,TWIN CITIES,55426.0,WEST METRO ADVISORS LLC,Ameriprise - West Metro Advisors,"WEST METRO,ADVISORS",1068.10,218.75,...,False,2,4,3,1,2,2.25,Bronze,2,https://comcast.my.salesforce.com/0011H00001x6...
1,EAM,3000 to 4000,83,TWIN CITIES,55337.0,SHOPJIMMYCOM LLC,Shop Jimmy MN,"SIP,SHOP JIMMY",3541.50,3541.50,...,True,5,4,5,1,3,3.40,Silver,1,https://comcast.my.salesforce.com/001A000000vO...
2,EAM,4000+,84,TWIN CITIES,55413.0,MERITEX COLUMBUS LLC,The Meritex Company,"ENTERPRISES INC,MERITEX",11493.99,11493.99,...,True,5,4,4,1,2,2.85,Bronze,2,https://comcast.my.salesforce.com/001A0000011q...
3,AM1,1000 to 2000,98,TWIN CITIES,55306.0,BUCK HILL,Buck Hill,"HILL INC,BUCK",1331.20,331.50,...,True,3,3,4,1,1,2.30,Bronze,1,https://comcast.my.salesforce.com/0011200001CN...
4,EXCL,750 to 1000,127,TWIN CITIES,55431.0,COWBOY JACKS SALOON,Cowboy Jacks,"JACKS,COWBOY",786.10,219.58,...,False,1,2,3,1,2,1.95,Other,2,https://comcast.my.salesforce.com/0011200001Ju...

In [19]:
twin_cities_no_sfdc.head()

,ESTIMATED_FAMILY_MODULE,ESTIMATED_FAMILY_SPEND_RANGE,FAMILY_ID,FAMILY_ID_REGION,SV_ACCT_ZIP,ATHENA_LEGAL_NAME1,SV_ROOT_ACCOUNT_NAME,CSG_BUSN_NAME,FAMILY_SPEND_EST_FOR_EVAL,ATHENA_FAMILY_TELCO_SPEND,...,SFDC_MODULE_IND,FAMILY_SPEND_EST_FOR_EVAL_SCORE,CSG_TENURE_MNTHS_SCORE,CSG_AND_SV_TOTAL_MRC_SCORE,ONE_PRODUCT_IND_SCORE,TOTAL_LOC_CNT_SCORE,FINAL_SCORE,COLOR_SCORE,ANY_EXCL_IND,SFDC_ACCOUNT_URL
0,AM1,1000 to 2000,55,TWIN CITIES,55413.0,BUILDING RESTORATION CORP,Building Restoration Corporation,NaN,1460.90,263.67,...,False,3,1,4,5,2,3.35,Silver,0,NaN
1,EAM,3000 to 4000,597,TWIN CITIES,55102.0,MINNESOTA PUBLIC RADIO/MN,Minnesota Public Radio/MN,NaN,3074.95,986.49,...,False,5,1,5,5,3,4.10,Platnium,0,NaN
2,EAM,4000+,965,TWIN CITIES,55404.0,AUGUSTANA CARE,Augustana Care Inc,"HOME,AUGUSTANA",128386.66,128386.66,...,False,5,5,3,5,2,3.65,Gold,0,NaN
3,EAM,4000+,1141,TWIN CITIES,55416.0,WARAMAUG HOSPITALITY-MN,Waramaug Hospitality-MN,NaN,6269.90,2631.89,...,False,5,1,5,5,3,4.10,Platnium,0,NaN
4,EAM,4000+,1183,TWIN CITIES,55439.0,MARCO TECHNOLOGIES LLC,Marco Technologies LLC,NaN,45339.69,5927.59,...,False,5,1,5,5,5,4.60,Platnium,0,NaN